/* Light scheme */
:root { --color-neutral: 230, 220, 220;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,195,195;
--color-neutral-200:    255,119,119;
--color-neutral-300:    255,42,42;
--color-neutral-400:    221,0,0;
--color-neutral-500:    144,0,0;
--color-neutral-600:    103,0,0;
--color-neutral-700:    62,0,0;
--color-neutral-800:    22,0,0;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    194,237,240;
--color-primary-300:    133,219,225;
--color-primary-400:    71,201,210;
--color-primary-500:    40,157,165;
--color-primary-600:    32,126,132;
--color-primary-700:    24,95,99;
--color-primary-800:    16,63,66;
--color-primary-900:    8,32,34;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    229,229,229;
--color-secondary-400:    190,190,190;
--color-secondary-500:    152,152,152;
--color-secondary-600:    132,132,132;
--color-secondary-700:    111,111,111;
--color-secondary-800:    91,91,91;
--color-secondary-900:    70,70,70;
}

/* Dark scheme */
.dark { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    248,252,248;
--color-neutral-200:    196,227,197;
--color-neutral-300:    144,203,146;
--color-neutral-400:    92,178,95;
--color-neutral-500:    62,132,64;
--color-neutral-600:    49,104,51;
--color-neutral-700:    36,76,37;
--color-neutral-800:    23,49,24;
--color-neutral-900:    10,21,10;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    242,239,246;
--color-primary-300:    204,190,218;
--color-primary-400:    165,142,190;
--color-primary-500:    127,93,162;
--color-primary-600:    107,78,136;
--color-primary-700:    86,63,110;
--color-primary-800:    66,48,84;
--color-primary-900:    46,33,58;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,255,255;
--color-secondary-400:    242,242,242;
--color-secondary-500:    204,204,204;
--color-secondary-600:    184,184,184;
--color-secondary-700:    163,163,163;
--color-secondary-800:    143,143,143;
--color-secondary-900:    122,122,122;
}
