:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    228,239,229;
--color-neutral-200:    181,210,182;
--color-neutral-300:    133,181,134;
--color-neutral-400:    90,148,91;
--color-neutral-500:    61,100,62;
--color-neutral-600:    46,75,46;
--color-neutral-700:    30,49,31;
--color-neutral-800:    15,24,15;
--color-neutral-900:    0,0,0;
--color-primary-50:     227,241,227;
--color-primary-100:    175,216,177;
--color-primary-200:    124,191,126;
--color-primary-300:    78,160,81;
--color-primary-400:    53,108,55;
--color-primary-500:    28,57,29;
--color-primary-600:    15,30,15;
--color-primary-700:    1,2,1;
--color-primary-800:    0,0,0;
--color-primary-900:    0,0,0;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,255,255;
--color-secondary-400:    247,247,247;
--color-secondary-500:    209,209,209;
--color-secondary-600:    189,189,189;
--color-secondary-700:    168,168,168;
--color-secondary-800:    148,148,148;
--color-secondary-900:    127,127,127;
}