:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     201,255,192;
--color-neutral-100:    137,255,115;
--color-neutral-200:    72,255,38;
--color-neutral-300:    34,217,0;
--color-neutral-400:    22,141,0;
--color-neutral-500:    10,64,0;
--color-neutral-600:    4,23,0;
--color-neutral-700:    0,0,0;
--color-neutral-800:    0,0,0;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    217,217,217;
--color-primary-400:    178,178,178;
--color-primary-500:    140,140,140;
--color-primary-600:    120,120,120;
--color-primary-700:    99,99,99;
--color-primary-800:    79,79,79;
--color-primary-900:    58,58,58;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,255,255;
--color-secondary-400:    255,255,255;
--color-secondary-500:    250,234,255;
--color-secondary-600:    240,193,255;
--color-secondary-700:    231,152,255;
--color-secondary-800:    221,112,255;
--color-secondary-900:    211,71,255;
}