:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    248,252,248;
--color-neutral-200:    196,227,197;
--color-neutral-300:    144,203,146;
--color-neutral-400:    92,178,95;
--color-neutral-500:    62,132,64;
--color-neutral-600:    49,104,51;
--color-neutral-700:    36,76,37;
--color-neutral-800:    23,49,24;
--color-neutral-900:    10,21,10;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    242,239,246;
--color-primary-300:    204,190,218;
--color-primary-400:    165,142,190;
--color-primary-500:    127,93,162;
--color-primary-600:    107,78,136;
--color-primary-700:    86,63,110;
--color-primary-800:    66,48,84;
--color-primary-900:    46,33,58;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,255,255;
--color-secondary-400:    242,242,242;
--color-secondary-500:    204,204,204;
--color-secondary-600:    184,184,184;
--color-secondary-700:    163,163,163;
--color-secondary-800:    143,143,143;
--color-secondary-900:    122,122,122;
}